{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<h2>About Us</h2>

<div class="container my-5">
  <h2 class="mb-4">Our Vision and Mission</h2>

  <div class="card bg-dark text-light border-secondary mb-4">
    <div class="card-body">
      <h4 class="card-title">Our Vision</h4>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla sint incidunt aperiam optio reiciendis numquam placeat odit, facilis nostrum. Accusantium dolor officiis nobis accusamus maxime dignissimos distinctio quibusdam sapiente, voluptatem, laboriosam dolores in dolore id tenetur unde numquam voluptatum ab? Aliquid, maxime. Neque cupiditate sed dolor quia rerum quos nemo repudiandae molestias fuga magni fugit labore eaque sit voluptate, accusantium incidunt corrupti ipsa aut exercitationem esse eius voluptates inventore. Aliquam.
      </p>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla sint incidunt aperiam optio reiciendis numquam placeat odit, facilis nostrum. Accusantium dolor officiis nobis accusamus maxime dignissimos distinctio quibusdam sapiente, voluptatem, laboriosam dolores in dolore id tenetur unde numquam voluptatum ab? Aliquid, maxime. Neque cupiditate sed dolor quia rerum quos nemo repudiandae molestias fuga magni fugit labore eaque sit voluptate, accusantium incidunt corrupti ipsa aut exercitationem esse eius voluptates inventore. Aliquam.
      </p>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla sint incidunt aperiam optio reiciendis numquam placeat odit, facilis nostrum. Accusantium dolor officiis nobis accusamus maxime dignissimos distinctio quibusdam sapiente, voluptatem, laboriosam dolores in dolore id tenetur unde numquam voluptatum ab? Aliquid, maxime. Neque cupiditate sed dolor quia rerum quos nemo repudiandae molestias fuga magni fugit labore eaque sit voluptate, accusantium incidunt corrupti ipsa aut exercitationem esse eius voluptates inventore. Aliquam.
      </p>
    </div>
  </div>

  <div class="card bg-dark text-light border-secondary">
    <div class="card-body">
      <h4 class="card-title">Our Mission</h4>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla sint incidunt aperiam optio reiciendis numquam placeat odit, facilis nostrum. Accusantium dolor officiis nobis accusamus maxime dignissimos distinctio quibusdam sapiente, voluptatem, laboriosam dolores in dolore id tenetur unde numquam voluptatum ab? Aliquid, maxime. Neque cupiditate sed dolor quia rerum quos nemo repudiandae molestias fuga magni fugit labore eaque sit voluptate, accusantium incidunt corrupti ipsa aut exercitationem esse eius voluptates inventore. Aliquam.
      </p>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla sint incidunt aperiam optio reiciendis numquam placeat odit, facilis nostrum. Accusantium dolor officiis nobis accusamus maxime dignissimos distinctio quibusdam sapiente, voluptatem, laboriosam dolores in dolore id tenetur unde numquam voluptatum ab? Aliquid, maxime. Neque cupiditate sed dolor quia rerum quos nemo repudiandae molestias fuga magni fugit labore eaque sit voluptate, accusantium incidunt corrupti ipsa aut exercitationem esse eius voluptates inventore. Aliquam.
      </p>
    </div>
  </div>
</div>

<h5>FAQs</h5>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        How do Blind Developers program?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repellat necessitatibus quibusdam doloremque laudantium atque explicabo natus? Ut perspiciatis architecto iste ex alias magnam voluptatum eveniet repudiandae exercitationem praesentium natus atque eaque laboriosam culpa eligendi sunt sit ad ratione, quis molestiae. Perferendis eligendi quo quod, voluptatibus deleniti vero voluptas nemo.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Questions 2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis soluta hic consequuntur. Itaque totam possimus maiores laborum alias error harum dicta quas, ex exercitationem illum quisquam unde, labore nobis ipsam? Animi, adipisci modi. Veniam harum, sit perspiciatis quasi mollitia tempora voluptatem corporis vitae temporibus officia minima ad accusamus! Neque?</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Question 3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quibusdam exercitationem dolorem ex repudiandae voluptate mollitia ab sed, sit excepturi aspernatur quae commodi voluptas beatae incidunt necessitatibus, nulla harum. Quaerat, quia ut. Laudantium ipsum culpa debitis non, atque explicabo recusandae possimus dolores repellendus illum ipsa distinctio asperiores quod quas maiores.</div>
    </div>
  </div>
</div>

{% endblock %}